* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1 !important;
}

.navbar {
  padding-right: 70px;
  display: flex;
  /* border: solid black 2px; */
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
}

.navbar span {
  display: flex;
  align-items: center;
  justify-content: start;
  /* border: solid black 2px; */
}

.navbar span li {
  padding: 0px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* border: solid black 2px; */
  height: 70px;
}

.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.navbar li {
  list-style: none;
}

.navbar span li:hover {
  background-color: rgba(0, 0, 0, 0.219);
}

.wrap-paper {
  margin: 20px auto;
  /* border: solid black 2px; */
  background-color: white;
  /* display: flex; */
  width: 90%;
  padding: 30px;
}

.footer h5 {
  color: white;
}

.footer {
  bottom: 0;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.about li {
  margin-bottom: 10px;
}
