body.index {
  margin: 0;
}

h1 {
  text-align: center;
}

header li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: white;
}

.navbar {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

section {
  border: white solid 1px;
  padding-top: 10px;
}
.section {
  background-color: white;
  width: 70%;
  margin: auto;
  padding: 10px 15px;
}

.line {
  border-bottom: solid rgb(216, 216, 216) 3px;
}

footer {
  display: flex;
  height: 40px;
  position: sticky;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.contact-container ul {
  list-style: none;
  padding-left: 0;
}

.about-container {
  margin: 5px 5px 5px 5px;
  background-color: white;
  border: solid rgb(216, 208, 208) 1px;
  padding: 10px 0 10px 0;
}

.contact-container {
  margin: 5px 5px 5px 5px;
  background-color: white;
  border: solid rgb(216, 208, 208) 1px;
  padding: 10px 0 0 10px;
}

.sex-container {
  display: inline-block;
}

.return-button {
  margin: 30px 0 0 5px;
}
