* {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  color: rgba(158, 134, 134, 0.664);
}

.window {
  display: flex;
  justify-content: center;
}

.wrap-paper {
  padding: 10px 10px;
  margin: 20px 0px;

  background-color: rgba(255, 246, 246, 0.87);
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: auto;
  width: 400px;
}

section {
  margin: 0px 15px 15px 15px;
}

.title {
  border-bottom: 2px solid rgb(194, 142, 142);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.checkbox {
  padding: 15px 5px;
  border-bottom: 1px solid rgb(235, 203, 203);
}

.button {
  margin-top: 15px;
  width: 370px;
  height: 50px;
  border: none;
  background-color: rgba(76, 56, 255, 0.479);
  color: white;
}

.button:active {
  background-color: red;
}

.time-Stamp {
  margin-top: 30px;
  text-align: center;
}

/* css Tugas-11 dan Tugas-12*/
.container-1 {
  margin-left: 10px;
  /* text-align: center; */
}

th,
td {
  border-bottom: solid rgb(248, 212, 212) 1px;
  padding: 20px;
  border-collapse: collapse;
}

.wrap-paper-1 {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  margin: 20px 0px;
  background-color: rgba(255, 246, 246, 0.87);
  border-radius: 20px;
}

.text-header {
  margin: 20px 0px;
  text-align: center;
}

.formBox {
  border: solid rgba(0, 0, 0, 0.336) 1px;
  padding: 20px;
  overflow: hidden;
}

#name,
#price,
#weight,
#score,
#course {
  float: right;
  width: 170px;
}

#submit {
  float: right;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.navbar li {
  padding: 20px 20px;
}

.navbar-white {
  position: sticky;
  top: 0;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  border-bottom: solid rgba(0, 0, 0, 0.24) 1px;
  background-color: white;
}

.navbar-white li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.356);
}

.navbar-white li:hover {
  background-color: rgba(0, 0, 0, 0.26);
}

.navbar-black {
  position: sticky;
  top: 0;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  border-bottom: solid rgba(255, 255, 255, 0.24) 1px;
  background-color: rgb(0, 0, 0);
}

.navbar-black li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.918);
}

.navbar-black li:hover {
  background-color: rgba(255, 255, 255, 0.26);
}

.change-nav-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.change-nav-button a {
  border-top: rgba(0, 0, 0, 0.363) 2px solid;
  border-left: rgba(0, 0, 0, 0.342) 2px solid;
  border-right: black 2px solid;
  border-bottom: black 2px solid;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  color: black;
}

.change-nav-button a:hover {
  border-bottom: rgba(0, 0, 0, 0.363) 2px solid;
  border-right: rgba(0, 0, 0, 0.342) 2px solid;
  border-left: black 2px solid;
  border-top: black 2px solid;
  background-color: rgba(0, 0, 0, 0.048);
}
